@model Aplicacion.Entities.Users
@using Aplicacion.Entities

@{
    var sesion = ((Users)Session["User"]);
}

@if (sesion != null)
{
    @Html.Hidden("IdMsj", (string)ViewBag.Mensaje)

    using (Html.BeginForm("EditUser", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="container bootstrap snippets bootdey">
            <hr>
            <div class="row">
                <!-- left column -->
                <div class="col-md-3">
                    <div class="text-center">
                        <img src=@Html.DisplayFor(model => model.Photo) class="avatar img-circle img-thumbnail" alt="avatar">
                        <h6>Upload a different photo...</h6>
                        @Html.EditorFor(model => model.Photo, new { htmlAttributes = new { @class = "form-control", @type = "file" } })
                    </div>
                </div>

                <!-- edit form column -->
                <div class="col-md-9 personal-info">
                    <div class="alert alert-info alert-dismissable">
                        <a class="panel-close close" data-dismiss="alert">×</a>
                        <i class="fa fa-coffee"></i>
                        <strong>alert</strong> Be careful with what you change.
                    </div>
                    <br />
                    <h3>Personal information</h3>

                    <form class="form-horizontal" role="form">

                        <div class="form-group">
                            <div class="col-lg-8">
                                @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-8">
                                <label class="col-lg-3 control-label">Name:</label>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @type = "text", @Id = "Id" } })
                                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-8">
                                <label class="col-lg-3 control-label">First Last Name:</label>
                                @Html.EditorFor(model => model.First_last_name, new { htmlAttributes = new { @class = "form-control", @type = "text", @Name = "Name" } })
                                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-8">
                                <label class="col-lg-3 control-label">Second Last name:</label>
                                @Html.EditorFor(model => model.Second_last_name, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">

                            @{
                                List<SelectListItem> listaRoles = new List<SelectListItem>();
                                listaRoles.Add(new SelectListItem
                                {
                                    Text = "--Select--",
                                    Value = "",
                                    Selected = true
                                });
                                listaRoles.Add(new SelectListItem
                                {
                                    Text = "Admin",
                                    Value = "1"
                                });
                                listaRoles.Add(new SelectListItem
                                {
                                    Text = "Cashier",
                                    Value = "2"
                                });
                                listaRoles.Add(new SelectListItem
                                {
                                    Text = "Customer",
                                    Value = "3"
                                });
                            }


                            <label class="col-lg-3 control-label">Rol:</label>
                            @Html.DropDownListFor(model => model.User_Role, listaRoles, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Phone number:</label>
                            <div class="col-lg-8">
                                @Html.DisplayFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Email:</label>
                            <div class="col-lg-8">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "format@gmail.com" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-lg-8">
                                @Html.TextBoxFor(Model => Model.Address, new { @class = "form-control", @id = "inputAddress", @placeholder = "1234 Main St" })
                            </div>
                        </div>

                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <button type="submit" class="btn btn-primary btn-lg">Save</button>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <button type="reset" class="btn btn-warning btn-lg">Clear</button>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                @Html.ActionLink("Delete", "DeleteUser", "Users", new { @class = "btn btn-danger btn-lg" })
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    }
}
