@model Aplicacion.Entities.Users
@using Aplicacion.Entities

@{
    var sesion = ((Users)Session["User"]);
}

@using (Html.BeginForm("UpdatePasswordPost", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.HiddenFor(Model => Model.Id, new { @class = "form-control", @Id = "Id", @readonly = "readonly" })
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card text-center " style="width: 300px;">
            <div class="card-header h5 text-white bg-primary">Update your Password</div>
            <div class="card-body px-5">
                <p class="card-text py-2">
                    Enter your old password.
                </p>
                <div class="form-outline">
                    @Html.TextBoxFor(Model => Model.noHashPass, new { @class = "form-control my-3", @placeholder = "Old Password", @required = "required", @type = "text" })
                </div>
                <div class="form-outline">
                    @Html.TextBoxFor(Model => Model.newPassword, new { @class = "form-control my-3", @placeholder = "New Password", @required = "required", @type = "text" })
                </div>
                <div class="form-outline">
                    @Html.TextBoxFor(Model => Model.newPassword2, new { @class = "form-control my-3", @placeholder = "New Password Confirmation", @required = "required", @type = "text" })
                </div>
                <button type="submit" class="btn btn-primary w-100">Update password</button>
                <div class="d-flex justify-content-between mt-4">
                    <a class="" href="@Url.Action("Index", "Home")">Home</a>
                </div>
            </div>
        </div>
    </div>

}
