@model Aplicacion.Entities.UserPerson


@if (Session["User_Role"] != null)
{
    @Html.Hidden("IdMsj", (string)ViewBag.Mensaje)
    using (Html.BeginForm("EditUserPerson", "Persons", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(Model => Model.Person.Id, new { @class = "form-control", @Id = "Id", @readonly = "readonly" })
        <div class="container bootstrap snippets bootdey">
            <hr>
            <div class="row">
                <!-- left column -->
                <div class="col-md-3">
                    <div class="text-center">
                        <img src=@Html.DisplayFor(model => model.User.Photo) class="avatar img-circle img-thumbnail" alt="avatar">
                        <h6>Upload a different photo...</h6>
                        @Html.EditorFor(model => model.User.Photo, new { htmlAttributes = new { @class = "form-control", @type = "file" } })
                    </div>
                </div>

                <!-- edit form column -->
                <div class="col-md-9 personal-info">
                    <div class="alert alert-info alert-dismissable">
                        <a class="panel-close close" data-dismiss="alert">×</a>
                        <i class="fa fa-coffee"></i>
                        This is an <strong>alert</strong> Use this to show important messages to the user.
                    </div>
                    <br />
                    <h3>Personal info</h3>

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Name:</label>
                            <div class="col-lg-8">
                                @Html.EditorFor(model => model.Person.Name, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">First Last Name:</label>
                            <div class="col-lg-8">
                                @Html.EditorFor(model => model.Person.First_last_name, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Last name:</label>
                            <div class="col-lg-8">
                                @Html.EditorFor(model => model.Person.Second_last_name, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Identification:</label>
                            <div class="col-lg-8">
                                @Html.EditorFor(model => model.Person.Identification, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Phone number:</label>
                            <div class="col-lg-8">
                                @Html.EditorFor(model => model.Person.Phone, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Email:</label>
                            <div class="col-lg-8">
                                @Html.EditorFor(model => model.Person.Email, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "format@gmail.com" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Address:</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(Model => Model.Person.Address, new { @class = "form-control", @id = "inputAddress", @placeholder = "1234 Main St", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">BirthDate::</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(Model => Model.Person.Birth_date, new { @class = "form-control", @id = "inputBirthDate", @type = "date", @required = "required" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-primary" />
                                <button type="reset" class="btn btn-danger">Clear</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    }
}
@section Scripts{
    <script src="~/Funciones/ConsultaUsuario.js"></script>
}