@model  IEnumerable<Aplicacion.Entities.UserPerson>

@{
    ViewBag.Title = "Users List";


}


@if (Session["User_Role"] != null)
{
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th @Html.DisplayNameFor(model => model.Person.Id)>User ID</th>
                    <th @Html.DisplayNameFor(model => model.Person.Name)>Name</th>
                    <th @Html.DisplayNameFor(model => model.Person.First_last_name)>First Name</th>
                    <th @Html.DisplayNameFor(model => model.Person.Second_last_name)>Last Name</th>
                    <th @Html.DisplayNameFor(model => model.Person.Identification)>ID</th>
                    <th @Html.DisplayNameFor(model => model.Person.Phone)>Phone</th>
                    <th @Html.DisplayNameFor(model => model.Person.Email)>Email</th>
                    <th @Html.DisplayNameFor(model => model.Person.Birth_date)>Birth Date</th>
                    <th @Html.DisplayNameFor(model => model.Person.Address)>Address</th>
                    <th @Html.DisplayNameFor(model => model.Person.Registration_date)>Reg Date</th>
                    <th @Html.DisplayNameFor(model => model.User.Username)>Username</th>
                    <th>Action</th>
                    <th>Edit</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Person.Id</td>
                        <td>@item.Person.Name</td>
                        <td>@item.Person.First_last_name</td>
                        <td>@item.Person.Second_last_name</td>
                        <td>@item.Person.Identification</td>
                        <td>@item.Person.Phone</td>
                        <td>@item.Person.Email</td>
                        <td>@item.Person.Birth_date</td>
                        <td>@item.Person.Address</td>
                        <td>@item.Person.Registration_date</td>
                        <td>@item.User.Username</td>
                        <td>
                            @Html.ActionLink("Delete", "DeletePersonAndUserById", "Persons", new { Id = item.Person.Id }, new { @class = "btn btn-primary" })
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditUserPerson", "Persons", new { Id = item.Person.Id }, new { @class = "btn btn-primary" })
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}

@section Scripts{
    <script src="~/Funciones/ConsultaUsuario.js"></script>
}