@model  IEnumerable<Aplicacion.Entities.Product>

@{
    ViewBag.Title = "Products List";
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Brand_Id)</th>
                <th>@Html.DisplayNameFor(model => model.Price)</th>
                <th>@Html.DisplayNameFor(model => model.Stock)</th>
                <th>@Html.DisplayNameFor(model => model.Model)</th>
                <th>@Html.DisplayNameFor(model => model.Color)</th>
                <th>@Html.DisplayNameFor(model => model.shoeSize)"Talla"</th>
                <th>@Html.DisplayNameFor(model => model.Photo)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    
                    <th>@item.Id</th>
                    <th>@item.Brand_Id</th>
                    <th>@item.Price</th>
                    <th>@item.Stock</th>
                    <th>@item.Model</th>
                    <th>@item.Color</th>
                    <th>@item.shoeSize</th>
                    <th>@item.Photo</th>
                </tr>
            }

        </tbody>
    </table>
</div>