@model  IEnumerable<Aplicacion.Entities.Product>




@if (Session["Logged_In"] == null) //no estamos logueados
{
    <div class="container">
        <table id="productsCustomer" class="table table-striped table-bordered table-sm">
            <thead class="bg-light">
                <tr>
                    <th @Html.DisplayNameFor(model => model.Brand.Name)>Brand</th>
                    <th @Html.DisplayNameFor(model => model.Model)>Model</th>
                    <th @Html.DisplayNameFor(model => model.Color)>Color</th>
                    <th @Html.DisplayNameFor(model => model.shoeSize)>Size</th>
                    <th @Html.DisplayNameFor(model => model.Photo)>Photo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">@item.Brand.Name</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1"></p>
                            <p class="text-muted mb-0">@item.Model</p>
                        </td>
                        <td>@item.Color</td>
                        <td>@item.shoeSize</td>
                        <td>
                            <img src="@item.Photo"
                                 style="width: 65px; height: 65px"
                                 class="rounded-circle" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>




}
@if (Session["User_Role"] != null && Session["User_Role"].ToString() == "Administrator") //estamos logueados como empleados != not null
{
    <div class="container">
        <table id="productsCustomer" class="table table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th @Html.DisplayNameFor(model => model.Brand.Name)>Brand</th>
                    <th @Html.DisplayNameFor(model => model.Model)>Model</th>
                    <th @Html.DisplayNameFor(model => model.Color)>Color</th>
                    <th @Html.DisplayNameFor(model => model.shoeSize)>Size</th>
                    <th @Html.DisplayNameFor(model => model.Price)>Price</th>
                    <th @Html.DisplayNameFor(model => model.Stock)>Stock</th>
                    <th @Html.DisplayNameFor(model => model.Photo)>Photo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">

                                <div class="ms-3">
                                    <p class="fw-bold mb-1">@item.Brand.Name</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-muted mb-0">@item.Model</p>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">@item.Color</p>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">@item.shoeSize</p>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">@item.Price</p>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">@item.Stock</p>
                        </td>
                        <td>
                            <img src="@item.Photo"
                                 style="width: 65px; height: 65px"
                                 class="rounded-circle" />
                        </td>
                        <td>
                            <button type="button" class="btn btn-link btn-sm btn-rounded">
                                Edit
                            </button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}

@section Scripts{
    <script src="~/Funciones/ConsultaProductos.js"></script>
    }