@using Aplicacion.Entities

@{ 
    var sesion = ((Users)Session["User"]);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ShoeCorp</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        @if (sesion != null)
        {


            if (sesion.User_Role != 0 && sesion.User_Role == 2) //si estamos logueados como cajeros
            {
                <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active">
                                <p>@sesion.Name</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("EditUser", "Users", new { Id = sesion.Id })" class="nav-link active">
                                <p><i class="nav-icon fa fa-user" aria-hidden="true" value="Profile"></i></p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <aside class="main-sidebar sidebar-dark-primary elevation-4">
                    <a href="@Url.Action("Index", "Home")" class="brand-link">
                        <img src="~/Content/Images/ShoeCorp.jpeg" alt="ShoeCorp Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                        <span class="brand-text font-weight-light">ShoeCorp Home</span>
                    </a>

                    <!-- Sidebar -->
                    <div class="sidebar">
                        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                            <div class="image">
                                <img src="@sesion.Photo" class="img-circle elevation-2" alt="User Image">
                            </div>
                            <div class="info">
                                <a href="@Url.Action("EditUser", "Users", new { Id = sesion.Id })" class="d-block">@sesion.Name</a>
                            </div>
                        </div>

                        <nav class="mt-2">
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                                <li class="nav-item menu">
                                    <a class="nav-link active">
                                        <i class="nav-icon fa fa-shopping-basket" aria-hidden="true"></i>
                                        <p>
                                            Products
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("ViewProducts", "Product")" class="nav-link active">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>View List Of Products</p>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="@Url.Action("InsertProduct", "Product")" class="nav-link active">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Add Product</p>
                                            </a>
                                        </li>
                                        <li class="nav-item menu">
                                            <a href="#" class="nav-link active">
                                                <i class="nav-icon fas fa-broom"></i>
                                                <p>
                                                    Brands
                                                    <i class="right fas fa-angle-left"></i>
                                                </p>
                                            </a>
                                            <ul class="nav nav-treeview">
                                                <li class="nav-item">
                                                    <a href="@Url.Action("ViewBrands", "Brand")" class="nav-link active">
                                                        <i class="far fa-circle nav-icon"></i>
                                                        <p>List Of Brands</p>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="@Url.Action("InsertBrand", "Brand")" class="nav-link active">
                                                        <i class="far fa-circle nav-icon"></i>
                                                        <p>Add Brand</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="nav-item menu">
                                            <a href="#" class="nav-link active">
                                                <i class="nav-icon fas fa-shipping-fast"></i>
                                                <p>
                                                    Shipping
                                                    <i class="right fas fa-angle-left"></i>
                                                </p>
                                            </a>
                                            <ul class="nav nav-treeview">
                                                <li class="nav-item">
                                                    <a href="@Url.Action("ViewShipments", "Shipment")" class="nav-link active">
                                                        <i class="far fa-circle nav-icon"></i>
                                                        <p>Shipping List</p>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="@Url.Action("InsertShipment", "Shipment")" class="nav-link active">
                                                        <i class="far fa-circle nav-icon"></i>
                                                        <p>Add Shipping</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item menu">
                                    <a href="#" class="nav-link active">
                                        <i class="nav-icon fas fa-user-alt"></i>
                                        <p>
                                            Users
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">

                                        <li class="nav-item">
                                            <a href="@Url.Action("UserRegistration", "LogIn")" class="nav-link active">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Insert user</p>
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Contact", "Home")" class="nav-link active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Contact</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("LogOut", "LogIn")" class="nav-link active">
                                        <i class="fa fa-sign-out-alt nav-icon" aria-hidden="true"></i><p>Log Out</p>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- /.sidebar-menu -->
                    </div>
                    <!-- /.sidebar -->
                </aside>
            }
            if (sesion.User_Role != 0 && sesion.User_Role == 1) //si estamos logueados como usuario administrador
            {
                <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="@Url.Action("EditUser", "Users", new { Id = sesion.Id })" class="nav-link active">
                                <p><i class="nav-icon fa fa-user" aria-hidden="true" value="Profile"></i></p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <aside class="main-sidebar sidebar-dark-primary elevation-4">
                    <a href="@Url.Action("Index", "Home")" class="brand-link">
                        <img src="~/Content/Images/ShoeCorp.jpeg" alt="ShoeCorp Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                        <span class="brand-text font-weight-light">ShoeCorp Home</span>
                    </a>

                    <!-- Sidebar -->
                    <div class="sidebar">
                        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                            <div class="image">
                                <img src="@sesion.Photo" class="img-circle elevation-2" alt="User Image">
                            </div>
                            <div class="info">
                                <a href="@Url.Action("EditUser", "Users", new { Id = sesion.Id })" class="d-block">@sesion.Name</a>
                            </div>
                        </div>

                        <nav class="mt-2">
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                                <li class="nav-item menu">
                                    <a class="nav-link active">
                                        <i class="nav-icon fa fa-shopping-basket" aria-hidden="true"></i>
                                        <p>
                                            Products
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("ViewProducts", "Product")" class="nav-link active">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>View List Of Products</p>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="@Url.Action("InsertProduct", "Product")" class="nav-link active">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Add Product</p>
                                            </a>
                                        </li>
                                        <li class="nav-item menu">
                                            <a href="#" class="nav-link active">
                                                <i class="nav-icon fas fa-broom"></i>
                                                <p>
                                                    Orders
                                                    <i class="right fas fa-angle-left"></i>
                                                </p>
                                            </a>
                                            <ul class="nav nav-treeview">
                                                <li class="nav-item">
                                                    <a href="@Url.Action("ViewOrders", "Orders")" class="nav-link active">
                                                        <i class="far fa-circle nav-icon"></i>
                                                        <p>All Orders</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item menu">
                                            <a href="#" class="nav-link active">
                                                <i class="nav-icon fas fa-broom"></i>
                                                <p>
                                                    Brands
                                                    <i class="right fas fa-angle-left"></i>
                                                </p>
                                            </a>
                                            <ul class="nav nav-treeview">
                                                <li class="nav-item">
                                                    <a href="@Url.Action("ViewBrands", "Brand")" class="nav-link active">
                                                        <i class="far fa-circle nav-icon"></i>
                                                        <p>List Of Brands</p>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="@Url.Action("InsertBrand", "Brand")" class="nav-link active">
                                                        <i class="far fa-circle nav-icon"></i>
                                                        <p>Add Brand</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item menu">
                                            <a class="nav-link active">
                                                <i class="nav-icon fas fa-shipping-fast" aria-hidden="true"></i>
                                                <p>
                                                    Shipping
                                                    <i class="right fas fa-angle-left"></i>
                                                </p>
                                            </a>
                                            <ul class="nav nav-treeview">
                                                <li class="nav-item">
                                                    <a href="@Url.Action("ViewShipments", "Shipment")" class="nav-link active">
                                                        <i class="far fa-circle nav-icon"></i>
                                                        <p>Shipping List</p>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="@Url.Action("InsertShipment", "Shipment")" class="nav-link active">
                                                        <i class="far fa-circle nav-icon"></i>
                                                        <p>Add Shipping</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item menu">
                                    <a href="#" class="nav-link active">
                                        <i class="nav-icon fas fa-user-alt"></i>
                                        <p>
                                            Users
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("ViewUsers", "Users")" class="nav-link active">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>View List Of Users</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("UserRegistration", "LogIn")" class="nav-link active">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Insert user</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Contact", "Home")" class="nav-link active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Contact</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("LogOut", "LogIn")" class="nav-link active">
                                        <i class="fa fa-sign-out-alt nav-icon" aria-hidden="true"></i><p>Log Out</p>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- /.sidebar-menu -->
                    </div>
                    <!-- /.sidebar -->
                </aside>
            }

            if (sesion.User_Role != 0 && sesion.User_Role == 3)//si estamos logueados como clientes
            {
                <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="@Url.Action("EditUser", "Users", new { Id = sesion.Id })" class="nav-link active">
                                <p><i class="nav-icon fa fa-user" aria-hidden="true" value="Profile"></i></p>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" href="@Url.Action("ShoppingCart", "")">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                <span class="badge badge-danger navbar-badge">3</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                <a href="#" class="dropdown-item">
                                    <!-- Message Start -->
                                    <div class="media">
                                        <img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/5fe8b5a4-5a93-46d6-bb57-1df8250ebd94/calzado-dunk-low-se-2V4ZHt.png" alt="" class="img-size-50 mr-3 img-circle">
                                        <div class="media-body">
                                            <h3 class="dropdown-item-title">
                                                Nike
                                            </h3>
                                            <p class="text-sm text-muted">Dunk Low Flash</p>
                                            <p class="text-sm text-muted">$1250000</p>
                                        </div>
                                    </div>
                                    <!-- Message End -->
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <!-- Message Start -->
                                    <div class="media">
                                        <img src="https://images.stockx.com/images/Air-Jordan-1-Mid-Earth-Tone-Product.jpg?fit=fill&bg=FFFFFF&w=700&h=500&fm=webp&auto=compress&q=90&dpr=2&trim=color&updated_at=1635779721" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                        <div class="media-body">
                                            <h3 class="dropdown-item-title">
                                                Nike Jordan
                                            </h3>
                                            <p class="text-sm text-muted">Air Retro 1<p>
                                            <p class="text-sm text-muted">$150000<p>
                                        </div>
                                    </div>
                                    <!-- Message End -->
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <!-- Message Start -->
                                    <div class="media">
                                        <img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/adc9c7d2-5cd2-4ac5-8583-ab4da7edd96f/dunk-low-se-shoes-bHNln0.png" alt="" class="img-size-50 img-circle mr-3">
                                        <div class="media-body">
                                            <h3 class="dropdown-item-title">Nike</h3>
                                            <p class="text-sm">Dunk Low Terracota</p>
                                            <p class="text-sm text-muted">$99000</p>
                                        </div>
                                    </div>
                                    <!-- Message End -->
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="@Url.Action("GoToCheckOut", "ShoppingCart")" class="dropdown-item dropdown-footer">Go to checkout</a>
                                <div class="dropdown-divider"></div>
                                <a href="@Url.Action("ViewShoppingCart", "ShoppingCart")" class="dropdown-item dropdown-footer">Go to Shopping Cart</a>
                            </div>
                        </li>
                    </ul>
                    <ul>
                    </ul>
                </nav>
                <aside class="main-sidebar sidebar-dark-primary elevation-4">
                    <a href="@Url.Action("Index", "Home")" class="brand-link">
                        <img src="~/Content/Images/ShoeCorp.jpeg" alt="ShoeCorp Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                        <span class="brand-text font-weight-light">ShoeCorp Home</span>
                    </a>

                    <!-- Sidebar -->
                    <div class="sidebar">
                        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                            <div class="image">
                                <img src="@sesion.Photo" class="img-circle elevation-2" alt="User Image">
                            </div>
                            <div class="info">
                                <a href="@Url.Action("EditUser", "Users", new { Id = sesion.Id })" class="d-block">@sesion.Name</a>
                            </div>
                        </div>

                        <nav class="mt-2">
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                                <li class="nav-item menu">
                                    <a class="nav-link active">
                                        <i class="nav-icon fa fa-shopping-basket" aria-hidden="true"></i>
                                        <p>
                                            Products
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("ViewProducts", "Product")" class="nav-link active">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>View List Of Products</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item menu">
                                    <a class="nav-link active">
                                        <i class="nav-icon fa fa-shopping-basket" aria-hidden="true"></i>
                                        <p>
                                            My Orders
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("ViewCustomersDetailedOrders", "Order", new { Id = sesion.Id, showCanceledOrders = true })" class="nav-link active">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>View My Orders</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>


                                <li class="nav-item">
                                    <a href="@Url.Action("Contact", "Home")" class="nav-link active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Contact</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("LogOut", "LogIn")" class="nav-link active">
                                        <i class="fa fa-sign-out-alt nav-icon" aria-hidden="true"></i><p>Log Out</p>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- /.sidebar-menu -->
                    </div>
                    <!-- /.sidebar -->
                </aside>
            }
        }
        else
        {

            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Sign Up", "UserRegistration", "LogIn", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("LogIn", "UserLogIn", "LogIn", null, new { @class = "nav-link" })
                    </li>
                </ul>
            </nav>



            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <a href="@Url.Action("Index", "Home")" class="brand-link">
                    <img src="~/Content/Images/ShoeCorp.jpeg" alt="ShoeCorp Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">ShoeCorp</span>
                </a>

                <!-- Sidebar -->
                <div class="sidebar">
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <li class="nav-item menu">
                                <a class="nav-link active">
                                    <i class="nav-icon fa fa-shopping-basket" aria-hidden="true"></i>
                                    <p>
                                        Products
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("ViewProducts", "Product")" class="nav-link active">
                                            <i class="nav-icon fa fa-list"></i>
                                            <p>View List Of Products</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item menu">
                                <a href="#" class="nav-link active">
                                    <i class="nav-icon fas fa-shoe-prints"></i>
                                    <p>
                                        Brands
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("ViewBrands", "Brand")" class="nav-link active">
                                            <i class="nav-icon fa fa-list"></i>
                                            <p>List Of Brands</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item menu">
                                <a href="@Url.Action("Contact", "Home")" class="nav-link active">
                                    <i class="nav-icon fa fa-info-circle" aria-hidden="true">

                                    </i>
                                    <p>
                                        Contact
                                    </p>
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
            </aside>
        }


        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <h1 class="m-0 text-dark">@ViewBag.Title</h1>

                    @*<div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">@ViewBag.Title</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    @if (@ViewContext.RouteData.Values["controller"].ToString() != "Home" ||
                                        @ViewContext.RouteData.Values["action"].ToString() != "Index")
                                    {
                                        <li class="breadcrumb-item">

                                        </li>
                                    }
                                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                                </ol>
                            </div>
                        </div>*@

                </div>
            </div>

            <div class="content">
                <div class="container-fluid">

                    @Html.Partial("_NotificationPanel")
                    @RenderBody()

                </div>
            </div>
        </div>

        <footer class="main-footer">

            <div class="float-right d-none d-sm-inline">
            </div>
            <strong>Copyright &copy;</strong> @*Emanuel Rojas Aguero*@ Grupo 5 @DateTime.Now.Year
        </footer>
    </div>

    <link href="~/Content/sweetalert2.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert2.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/adminlte/js")
    @Scripts.Render("~/Content/css")
    @RenderSection("scripts", required: false)

</body>
</html>
